.demoButtons{
    width: 200px;
    height: 80px;
    background: #A6CE39;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-size: 24px;
    font-weight: bold;
    color:lightyellow;
    margin-top: 20px;
}
.buttonContainer{



}

.menuContainer{
    height: calc(85vh);

}

.listComponent{
    text-align: left;
    font-size: 32px;
    margin: 40px;
    background-color: #a6ce39;
    width: 50%;
    height: 85%;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}
.videoContainer{
    display: flex;
    justify-content: center;
    padding:80px;
    flex-wrap:wrap;

}
.video{
    width: 50%;
    height: 50%;

}
.videoTitle{
    color:white;
    fontSize:42px;
}
