.demoButtons{
    width: 200px;
    height: 80px;
    background: #A6CE39;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-size: 24px;
    font-weight: bold;
    color:lightyellow;
    margin-top: 20px;
}
.buttonContainer{



}

.menuContainer{


}

.listComponent{
    text-align: left;
    font-size: 28px;
    margin: 20px;
    background-color: #a6ce39;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}
.videoContainer{
    display: flex;
    justify-content: center;
    padding:20px;
    flex-wrap:wrap;
    height: 80%;


}
.video{
    width: 50%;
    height: 50%;
}
.videoElement{
    width: 400px;
    //width: 100%;
    height: 350px;
}
.videoTitle{
    color:white;
    font-size:42px;
}

.fraudDetectedText{
    color: red;
    font-size:24px;
    font-weight:bold;
}
.nonFraudText{
    color:white;
    font-weight: initial;
}
.iframe{
    width: 90%;
    height: 100%;
}
.iframeCashSlot{
    height: 400px;
    width: 400px;
    transform: rotate(90deg);
}
